local.config*.*
incoming/Nuvoton_Pin_Mux_New_Format_V0.5.xls
incoming/nuvoton.xls
incoming/nuvoton.xlsx
save
notes
notes/writejsonfile.py
notes/helperfunctions.py
debug.txt
notes/dictionarymagic
edatasheets_creator/debug.txt
.history
__pycache__
.venv
.venvLin
.virtualenv
.winvenv
edatasheets_creator/incoming/nuvoton.xlsx
edatasheets_creator/.idea
edatasheets_creator/incoming/testds.json
edatasheets_creator/build
build
.vscode/settings.json
.vscode/launch.json
.vscode
dist
edatasheets_creator.egg-info
edatasheets_creator/ipas_default.config
node_modules
lxml-4.9.2-cp310-cp310-win_amd64.whl
lxml-4.9.2-cp311-cp311-win_amd64.whl
pyvenv.cfg
.idea
venv
.gitmodules 
edatasheets_creator/schemas/edatasheet_schema