beautifulsoup4==4.11.1
conf-diff==0.6.5
defusedxml==0.7.1
genson==1.2.2
importlib-metadata==1.7.0
jsonschema==4.17.3
marshmallow==3.19.0
openpyxl==3.0.10
pyinstaller==6.11.1
requests==2.32.3
setuptools==70.0.0
urllib3==1.26.20
XlsxWriter==3.0.3
xmltodict==0.14.2
